@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to left, rgb(59, 1, 59), rgb(148, 148, 255)); 
    font-family: "Ubuntu", sans-serif;
    min-height: 100vh;
}


.nav-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.tofu-logo {
    margin: 15px;
    position: relative;
    border-radius: 50%;
    height: 50px;
    justify-self: flex-end;
    cursor: pointer;
}
.input{
    margin: auto;
    width: 50vmin;
    padding: 10px;
    font-size: 20px;
}

.input:focus{
    border: 2px solid black;
}


.search-and-btn{
    margin: auto;
}
.Button {
    margin: 10px;
}
.temperature{
    font-size: 100px;
    font-weight: bolder;
    margin: 0;
    color: red;
    align-items: center;
    grid-column: 3 / 3;
    grid-row: 3 /  3;
    align-items: center;
    cursor: pointer;
}
.city-container{
    display: flex;
    justify-content: center;
}
            
.city-name{
    font-size: 64px;
    margin-top: 50px;
    font-family: "Siliguri", sans-serif;
}

.temp-container{
    height: 500px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12 , 1fr);
}

.high-temperature{
    font-size: 20px;
    font-weight: bold;
    grid-column: 4/ span 1;
    grid-row: 1 /  1;
}

.low-temperature{
    font-weight: bold;
    font-size: 20px;
    grid-column: 4 /span 1;
    grid-row: 5 / span 1;
}

.feels-like{
    font-weight: bold;
    font-size: 40px;
    grid-column: 3 / span 1;
    grid-row: 4 /span 1;
}

.wind{
    margin-top: 30px;
    font-size: 34px;
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

/* 

.first-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    grid-column: 2 / span 1;
    grid-row: 120 / span 1;
    height: 150px;
    width: 150px;
    background: linear-gradient(to top, rgb(156, 22, 22) ,rgb(247, 247, 247));
    margin: 10px;
    margin-top: 50px;
    grid-row: 6 /  span 1;
    grid-column: 2/ span 1 ;

}
.second-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    grid-column: 3 / span 1;
    grid-row: 120 / span 1;
    height: 150px;
    width: 150px;
    background: linear-gradient(to top, rgb(24, 7, 255) ,rgb(247, 247, 247));
    margin: 10px;
    margin-top: 50px;
    grid-row: 6 /  span 1;
    grid-column: 3/ span 1 ;
}
.third-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    grid-column: 4 / span 1;
    grid-row: 120 / span 1;
    height: 150px;
    width: 150px;
    background: linear-gradient(to top, rgb(46, 189, 2) ,rgb(247, 247, 247));
    margin: 10px;
    margin-top: 50px;
    grid-row: 6 /  span 1;
    grid-column: 4/ span 1 ;
}
.fourth-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    grid-column: 5 / span 1;
    grid-row: 120 / span 1;
    height: 150px;
    width: 150px;
    background: linear-gradient(to top, rgb(236, 213, 3) ,rgb(247, 247, 247));
    margin: 10px;
    margin-top: 50px;
    grid-row: 6 /  span 1;
    grid-column: 5/ span 1 ;
} */

/* media quary */

.wind::after{
    transform: translate(50%, 50%);
}


@media only screen and (max-width: 425px) {
    body{
        margin: 0px;
        padding: 0px;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .wind{
        font-weight: bold;
        font-size: 40px;
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
        margin: 10px;
    }
    .feels-like{
        margin: 5px;
        font-weight: bold;
        font-size: 20px;
        grid-column: 1 / span 2;
        grid-row: 3 /span 1;
    } 
    .city-name{
        font-size: 44px;
        margin-top: 50px;
        font-family: "Siliguri", sans-serif;
    }
    
    .temp-container{
        height: 500px;
        width: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6 , 1fr);
    }
    
    .high-temperature{
        font-size: 20px;
        font-weight: bold;
        grid-column: 3/ span 1;
        grid-row: 1 /  1;
    }
    
    .low-temperature{
        font-weight: bold;
        font-size: 20px;
        grid-column: 3 /span 1;
        grid-row: 3 / span 1;
    }
    .Button {
        margin: 10px;
    }
    .temperature{
        font-size: 100px;
        font-weight: bolder;
        margin: 0;
        color: red;
        align-items: center;
        grid-column: 1 / 3;
        grid-row: 2 /  3;
        align-items: center;
        cursor: pointer;
    } 
    .wind{
        margin-top: 10px;
        font-weight: bold;
        font-size: 30px;
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
    }
    
    
}

